html {
  /* Foreground (nord 0-3) */
  --fg: #2e3440;
  --fg-1: #373e4d;
  --fg-2: #434c5e;
  --fg-3: #4c566a;
  --fg-rgb: 46, 52, 64;
  --fg-1-rgb: 55, 62, 77;
  --fg-2-rgb: 67, 76, 94;
  --fg-3-rgb: 76, 86, 106;

  /* Background (nord 4-6 + extrapolated bg-3) */
  --bg: #eff2f5;
  --bg-1: #e9edf5;
  --bg-2: #d8dee9;
  --bg-3: #cbd2df;
  --bg-rgb: 239, 242, 245;
  --bg-1-rgb: 233, 237, 245;
  --bg-2-rgb: 216, 222, 233;
  --bg-3-rgb: 203, 210, 223;

  /* Primary UI Colours (nord 7-10)
   * Priority: 1*, 1, 2, 3 */
  --primary-hl: #8fbcbb;
  --primary: #88c0d0;
  --primary-focus: #79b8ca; /* Extrapolated colour slightly darker than primary */
  --secondary: #81a1c1;
  --tertiary: #5381ac;
  --primary-hl-rgb: 143, 188, 187;
  --primary-rgb: 153, 192, 208;
  --primary-focus-rgb: 121, 184, 202;
  --secondary-rgb: 129, 161, 193;
  --tertiary-rgb: 83, 129, 172;

  /* Other colours */
  --dark: #2e3440;
  --dark-1: #373e4d;
  --dark-2: #434c5e;
  --dark-3: #4c566a;
  --light: #eff2f5;
  --light-1: #e9edf5;
  --light-2: #d8dee9;
  --light-3: #cbd2df;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;
  --red-rgb: 191, 97, 106;
  --orange-rgb: 208, 135, 112;
  --yellow-rgb: 235, 203, 139;
  --green-rgb: 163, 190, 140;
  --purple-rgb: 180, 142, 173;
}
* {
  transition: color 75ms ease-in-out, background-color 75ms ease-in-out;
}

html.dark-mode {
  /* Foreground (nord 0-3) */
  --bg: #2e3440;
  --bg-1: #373e4d;
  --bg-2: #434c5e;
  --bg-3: #4c566a;
  --bg-rgb: 46, 52, 64;
  --bg-1-rgb: 55, 62, 77;
  --bg-2-rgb: 67, 76, 94;
  --bg-3-rgb: 76, 86, 106;

  /* Background (nord 4-6 + extrapolated bg-3) */
  --fg: #eff2f5;
  --fg-1: #e9edf5;
  --fg-2: #d8dee9;
  --fg-3: #cbd2df;
  --fg-rgb: 239, 242, 245;
  --fg-1-rgb: 233, 237, 245;
  --fg-2-rgb: 216, 222, 233;
  --fg-3-rgb: 203, 210, 223;
}

.red {
  color: var(--red);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.purple {
  color: var(--purple);
}
