/* ======================================== 
 * Text Formatting
 * ======================================== */
.section {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: min(7.5rem, 8.25vh) 9;
}
.section__title {
  text-align: center;
  margin: 1.5rem 0;
}

.content-page {
  padding-left: 1.25rem;

  font-weight: 400;
  line-height: 2rem;
}

/* ======================================== 
 * Responsive tiled cards for content
 * ======================================== */

.tiled-cards,
.tiled-cards--wrap {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: stretcn;
  gap: 1.5rem;
  margin: 2rem 0;
}
.tiled-cards--wrap {
  flex-wrap: wrap;
}
.tiled-cards__card {
  display: block;
  flex: 1 0 25%; /* 3 cards/row */
  min-height: 100%;
  background-color: var(--bg-2);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}
@media screen and (max-width: 768px) {
  .tiled-cards {
    flex-direction: column;
  }
  .tiled-cards__card {
    flex: 1 0 40%; /* 2-1 cards/row */
  }
}

/* ======================================== 
 * Buttons
 * ======================================== */

.button--solid,
.button--outline {
  min-width: 12rem;
  margin: 0.25rem;
  padding: 0.5rem;
  display: inline-flex;
  gap: 0.25rem; /* match outer margin */
  align-items: center;

  border-radius: 0.5rem;
  border: 1px solid transparent; /* set base */
  transition-property: background-color border-color;
  transition-duration: 25ms;
  transition-timing-function: ease-in-out;


  font-weight: bolder;
  text-decoration: none;
}
.button--solid {
  background-color: var(--primary);
}
.button--solid:hover {
  background-color: var(--primary-focus);
}
.button--outline {
  border-color: var(--primary);
}
.button--outline:hover {
  border-color: var(--primary-focus);
  background-color: var(--bg-1);
}
.button__icon {
  margin: 0.25rem;
}
.button--outline button__icon {
  fill: var(--primary);
}

/* ========================================
 * Hybrid Paragraphs 
 * images with text
 * ======================================== */

.hybrid-para {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}
.hybrid-para__text {
  flex-grow: 1;
  display: block;
}
.hybrid-para__image {
  flex-grow: 1;
}
.hybrid-para__image > img {
  max-width: min(
    45vw,
    calc(0.45 * var(--content-width))
  ); /* Grow with veiwport until hit max width */
  max-height: 25rem;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hybrid-para:nth-of-type(2n-1) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) {
  .hybrid-para {
    flex-wrap: wrap;
  }
  .hybrid-para__image > img {
    max-width: 100%;
    width: auto;
  }
}
