/* ======================================== 
 * Text Formatting
 * ======================================== */
article {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: min(7.5rem, 8.25vh) 9;
}
article > h2 {
  text-align: center;
  margin: 1.5rem 0;
}

.content-page {
  padding-left: 1.25rem;

  font-weight: 400;
  line-height: 2rem;
}

/* ======================================== 
 * Responsive tiled cards for content
 * ======================================== */

.tiled-cards,
.tiled-cards--wrap {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: stretcn;
  gap: 1.5rem;
  margin: 2rem 0;
}
.tiled-cards--wrap {
  flex-wrap: wrap;
}
.tiled-cards__card {
  display: block;
  flex: 1 0 25%; /* 3 cards/row */
  min-height: 100%;
  background-color: var(--bg-2);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}
@media screen and (max-width: 768px) {
  .tiled-cards,
  .tiled-cards--wrap {
    flex-direction: column;
    gap: 2rem;
  }
  .tiled-cards__card {
    flex: 1 0 40%; /* 2-1 cards/row */
  }
}

/* ======================================== 
 * Buttons
 * ======================================== */

.button--solid,
.button--solid-dark,
.button--outline {
  min-width: 10rem;
  margin: 1rem 0.25rem;
  padding: 0.75rem 1rem;
  display: inline-flex;
  gap: 0.25rem; /* match outer margin */
  align-items: center;

  border-radius: 0.5rem;
  border: 2px solid transparent; /* set base */
  transition-property: background-color border-color;
  transition-duration: 25ms;
  transition-timing-function: ease-in-out;

  font-size: var(--normal-fs);
  font-weight: bolder;
  font-family: var(--fonts);
  text-decoration: none;
}
.button--solid-dark {
  background-color: var(--fg-2);
  color: var(--bg);
}
.button--solid-dark:hover {
  background-color: var(--fg-3);
}
.button--solid {
  background-color: var(--primary);
  color: var(--bg);
}
.button--solid:hover {
  background-color: var(--primary-focus);
}
.button--outline {
  border-color: var(--primary);
  background-color: var(--bg-1);
}
.button--outline:hover {
  border-color: var(--primary-focus);
  background-color: var(--bg-2);
}
.button__icon {
  margin: 0.25rem;
}
.button--outline button__icon {
  fill: var(--primary);
}

.page-reference {
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  height: 100%;
  color: var(--bg);
  background-color: var(--orange);
}

/* ========================================
 * Hybrid Paragraphs 
 * images with text
 * ======================================== */

.hybrid-para {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}
.hybrid-para__text {
  flex-grow: 1;
  display: block;
}
.hybrid-para__image {
  flex-grow: 1;
}
.hybrid-para__image > img {
  max-width: min(
    45vw,
    calc(0.45 * var(--content-width))
  ); /* Grow with veiwport until hit max width */
  max-height: 25rem;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hybrid-para:nth-of-type(2n-1) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) {
  .hybrid-para {
    flex-wrap: wrap;
  }
  .hybrid-para__image > img {
    max-width: 100%;
    width: auto;
  }
}

.image {
  display: inline-block;
  width: auto;
  margin: 1rem 0;

  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .image {
    width: clamp(18rem, 55vw, 45rem);
  }
}

.highlight {
  display: block;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
  font-weight: bolder;
}

.footnote {
  font-weight: lighter;
  font-style: italic;
  font-size: calc(var(--normal-fs) - 1px);
  line-height: 1.625rem;
}
.page-message {
  --fs: 28px;
  margin-top: min(12vh, 10rem);
  line-height: var(--fs);
  font-size: var(--fs);
}

.warning {
  color: var(--red);
  font-weight: bold;
}
.warning--fill {
  color: var(--bg);
  font-weight: bold;
  background-color: var(--red);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.nowrap {
  white-space: nowrap;
}
.no-collapse {
  white-space: pre;
}
