@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --normal-fs: 16px;
  --footer-fs: 14px;
  --h1-fs: 2.2rem;
  --h2-fs: 1.8rem;
  --h3-fs: 1.4rem;

  --fonts: Rubik, sans-serif, Arial;

  --content-width: 1110px;
  --resp-width: 896px; /* Line between desktop n mobile layouts */
}
/*
* > * {
  background-color: rgba(255, 0, 0, 0.2);
}
*/

/* Responsive, show when big/small */
@media screen and (max-width: 896px) {
  .showBig {
    display: none !important;
    background-color: primary;
  }
  :root {
    --nav-height: 2rem;
  }
}
@media screen and (min-width: 896px) {
  .showSmall {
    display: none !important;
    background-color: blue;
  }
  :root {
    --nav-height: 3rem;
  }
}

/* Highlight style */
::selection {
  background: rgba(var(--secondary-rgb), 0.5);
  background-size: 100% 220%;
}

/* Default styles */
body {
  font-family: var(--fonts);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: max(30vh, 6rem);
  touch-action: manipulation;

  margin: 0;
  max-width: 100%;
  background-color: var(--bg);
  line-height: 1.625rem;
  text-underline-offset: 0.15em;
  text-decoration-skip-ink: none;
}
main {
  overflow: hidden;
}
p {
  font-size: var(--normal-fs);
  line-height: 2rem;
  margin: 1rem 0;
}
hr {
  height: 2px;
  margin-block: 1.5rem;

  background-color: var(--fg);
  opacity: 0.75;
  border-radius: 0.5rem;
  border: none;
}
.line-break {
  display: block;
  height: 1rem;
}
h1 {
  font-size: var(--h1-fs);
  margin: 0; /* Margin doesn't work with page-body margins A*/
  padding: 2rem 0 5rem;
  text-align: center;
  font-weight: 800;
}
h2 {
  font-size: var(--h2-fs);
  margin-top: 3.5rem; /* Default */
  margin-bottom: 3rem;
}
h3 {
  font-size: var(--h3-fs);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
section {
  margin-block: 1rem;
}
svg {
  color: var(--fg);
}

/* Style cleaning */
a {
  -webkit-tap-highlight-color: transparent;
  color: var(--secondary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  background: none;
  border: none;
}
ul {
  padding: 0 0 0 1rem;
  margin: 0;
  list-style-position: outside;
}
li {
  margin: 0.25rem 0;
}
br {
  display: block;
  height: 1.5rem;
}

:deep(.material-design-icon) {
  display: flex;
  justify-content: center;
  align-items: center;
}
