a {
  text-decoration: none;
  font-size: var(--ui-fontsize);
  margin: 0;
  height: 1.4rem;
  text-align: center;
  color: var(--fg);
  position: relative;
  display: flex;
  align-items: center;
}
.icon {
  padding: 0.5rem;
  column-gap: 0.25rem;
  font-weight: bold;
  transition: background-color, border-radius, transform 75ms ease-in-out;
}
.icon img {
  margin: 0.25rem;
  display: inline-block;
}
.icon:hover {
  background-color: rgba(var(--bg-1-rgb), 0.8);
  border-radius: 0.5rem;
}

.nav__button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color, color, fill 75ms ease-in-out;
}
.nav__button:hover {
  background-color: rgba(var(--bg-1-rgb), 0.8);
}
.nav__links :deep(svg) {
  height: 16px;
  width: 16px;
  fill: var(--fg);
  margin: 0 0.25rem;
}
:deep(.material-design-icon__svg) {
  transform: translateY(2px);
}
