:deep(*) {
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-size: var(--ui-fontsize);
  margin: 0;
  height: 1.4rem;
  text-align: center;
  color: var(--fg);
  position: relative;
  display: flex;
  align-items: center;
}
.icon-container {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
}
.mobile-spacer {
  visibility: hidden;
}
@media screen and (min-width: 996px) {
  .icon-container {
    justify-content: flex-start;
  }
  .mobile-spacer {
    display: none;
  }
}

.icon {
  padding: 0.5rem;
  column-gap: 0.25rem;
  font-weight: bold;
  transition-property: background-color, border-radius, transform;
  transition-duration: 75ms;
  transition-timing-function: ease-in-out;
}
.icon__image {
  margin: 0.25rem;
  display: inline-block;
}

.nav__button {
  padding: 0.375rem;
  transition-property: background-color, color, fill;
  transition-duration: 75ms;
  transition-timing-function: ease-in-out;
}
.icon:hover,
.nav__button:hover {
  background-color: rgba(var(--bg-1-rgb), 0.8);
  border-radius: 0.5rem;
}
.nav__links :deep(svg) {
  height: 16px;
  width: 16px;
  fill: var(--fg);
  margin: 0 0.25rem;
}

:deep(.material-design-icon__svg) {
  transform: translateY(2px);
}
:deep(.material-design-icon--deco .material-design-icon__svg) {
  transform: translateY(0);
}
